.loading{
	margin: 30px 10px;
}

.vertical-divider{
	width: 20px;
	text-align: center;
}

#source{
	padding: 10px;
	width: 100%;
}

#target{
	padding: 10px;
	list-style-type: none;
	margin-top: 10px; 
}

#target{
	background-color: #E0EAEA;
}

#target>li{
	padding: 5px;
}

#target>li>label{
	margin:0;
	padding:0;
	width: 50px;
	text-align: right;
	padding-right: 5px;
}

#target .validator .part>.value{
	background: #FF5A5F; /*#F7907C;*/
	cursor: pointer;
	padding: 2px 4px;
	border-radius: 5px;
}

#target .validator .part.exist>.value{
	background: #30C251; /*#CAF77C;*/
}

#target .validator .part.exist.several>.value{
	background: #EFF74A;
}

#target .validator .part.exist.hidden>.value{
	opacity: 0.5;
}

#target .validator .part>.count{
    font-size: 9px;
    vertical-align: top;
    display: inline-block;
    padding-top: 5px;
    cursor: pointer;
}

.status{
	margin:5px;
}

.status:before {
	display: inline-block;
	content: "";
	width: 10px;
	height: 10px;
	margin-right: 5px;
	background-color: red;
	border-radius: 50%;
}

.status:after {
	display: inline-block;
	line-height: 10px;
	content: "Disconnected";
}

.status.connected:before{
	background-color: green;
}

.status.connected:after{
	content: "Connected";
}


.currenturl-wrap{
	padding: 4px;
	border-radius: 4px;
}

.currenturl-wrap.matched{
	background-color:  #30C251; /*#CAF77C;*/
}

#currentUrl{
	font-size: 1.1em;
}

.navigation-wrap{
	margin: 10px 0;
	padding: 5px 10px;
	background-color: #E0EAEA;
}

.content-wrap{
	margin: 10px 0;
}

.natu-no-nodes {
    background-color: #FF5A5F !important; /*#F7907C !important;*/
}

.natu-not-specified{
	background-color: lightgrey !important;
}

.natu-one-node {
    background-color: #30C251 !important; /* #CAF77C !important;*/
}

.natu-several-nodes{
	background-color: yellow !important;
}

.natu-invalid-selector{
	background-color: pink !important;
}

.natu-has-hidden{
	opacity: 0.5;
}

#expandAllTreeNodes, #collapseAllTreeNodes, #refreshTree, #revalidateTreeSelectors{
	margin-bottom: 10px;
	margin-right: 10px;
}