.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#root{
	padding: 0;
}

#selectorsConverter{
	padding: 5px; 
	/*margin-top: 10px;*/
	background: #f2f7f9;
	border-bottom: 1px solid #1880004f;
}

.loading{
	margin: 30px 10px;
}

.vertical-divider{
	width: 20px;
	text-align: center;
}

.source-wrap{
	margin-left: 36px;
}

input#source{
	padding: 2px;
	width: 100%;
}

input#source:focus{
	outline: none;
}

#target{
	margin: 0; 
	padding: 5px 0 0 0;
	list-style-type: none;
	font-size: 12px;
}

#target{
	/*background-color: #E0EAEA;*/
}

#target>li{
	padding: 2px 0;
}

#target>li>label{
	margin:0;
	padding:0;
	width: 32px;
	text-align: right;
	color: darkslategrey;
	font-weight: 400;
}

#target .validator{
	margin-left: 2px;
}

#target .validator .part>.value{
	background: gainsboro;
	cursor: pointer;
	padding: 1px 2px;
	border-radius: 2px;
	border: 1px solid #ccc;
	color: darkslategrey;
	opacity: 0.5;
}

#target .validator .part.exist>.value{
	background: rgba(100,256,50,0.35);
	opacity: 1;
}

#target .validator .part.exist.several>.value{
	background: rgba(256,256,0,0.5);
}

#target li.selected .value{
	background: #1DA1F2 !important;
}

#target .validator .part.exist.hidden>.value{
	opacity: 0.5;
}

#target .validator .part>.count{
    font-size: 10px;
    vertical-align: top;
    display: inline-block;
    padding-top: 5px;
    cursor: pointer;
}

#target>li>label{
	cursor: pointer;
	opacity: 0.7;
}

#target>li>label:hover{
	opacity: 1;
}

.status{
	margin:5px;
}

.status:before {
	display: inline-block;
	content: "";
	width: 10px;
	height: 10px;
	margin-right: 5px;
	background-color: red;
	border-radius: 50%;
}

.status:after {
	display: inline-block;
	line-height: 10px;
	content: "Disconnected";
}

.status.connected:before{
	background-color: green;
}

.status.connected:after{
	content: "Connected";
}


.currenturl-wrap{
	padding: 4px;
	border-radius: 4px;
}

.currenturl-wrap.matched{
	background-color:  #30C251; /*#CAF77C;*/
}

#currentUrl{
	font-size: 1.1em;
}

.navigation-wrap{
	margin: 10px 0;
	padding: 5px 10px;
	background-color: #E0EAEA;
}

.content-wrap{
	margin: 10px 0;
}

.natu-no-nodes {
    background-color: #FF5A5F !important; /*#F7907C !important;*/
}

.natu-not-specified{
	background-color: lightgrey !important;
}

.natu-one-node {
    background-color: #30C251 !important; /* #CAF77C !important;*/
}

.natu-several-nodes{
	background-color: yellow !important;
}

.natu-invalid-selector{
	background-color: pink !important;
}

.natu-has-hidden{
	opacity: 0.5;
}

#expandAllTreeNodes, #collapseAllTreeNodes, #refreshTree, #revalidateTreeSelectors{
	margin-bottom: 10px;
	margin-right: 10px;
}

.selector-part-elements{
	font-size: 10px;
}

#elementsList{
	padding-top: 5px;
	list-style-type: none;
}

#elementsList>li{

}

#elementsList .part-element{
	font-size: 10px;
	cursor: pointer;
	float: left;
	font-family: Menlo, monospace;
	color: rgb(136, 18, 128);
}

#elementsList li:hover{
	background-color: #e9f0fb;
}

/*#elementsList li:hover .element-index{
	color: grey;
	font-weight: bold;
}
*/

#elementsList .element-index{
	padding-right: 5px;
    width: 43px;
    float: left;
    padding-top: 1px;
    font-size: 9px;
    text-align: right;
    color: lightgrey;
}

