<span class="attribute"><span class="name">{{attributeName}}</span>="
	{{~#each values as |value|~}}
		<span class="value {{if value.selected "selected"}}" onclick={{action "onSelectValue" value}}>{{value.text}}</span>
	{{~/each~}}"</span>