<div id="pageTree">
    {{ember-jstree
    	actionReceiver=jstreeActionReceiver
        data=data
        plugins=plugins
        themes=themes
		eventDidSelectNode="onComponentNodeSelected"
        typesOptions=typesOptions
    }}
</div>
