<input id="expandAllTreeNodes" type="button" {{action "onExpandAllTreeNodes"}} value="Expand All"/>
<input id="collapseAllTreeNodes" type="button" {{action "onCollapseAllTreeNodes"}} value="Collapse All"/>
<div id="pageTree">
    {{ember-jstree
    	actionReceiver=jstreeActionReceiver
        data=data
        plugins=plugins
        themes=themes
		eventDidSelectNode="onComponentNodeSelected"
        typesOptions=typesOptions
    }}
</div>
