<div id="selectorsConverter">
	{{input id="source" type="text" placeholder="Type selector here..." value=souceSelector key-up="onSourceSelectorChanged"}}
	<div id="target">
		{{targetSelector}}
	</div>
</div>